Repository kiegroup/rhpam-kogito-operator, pull requests merged in 2021-09, with the labels that each got.

#73 Cherry pick KOGITO-5603, KOGITO-3793
  api/v1/artifact.go
  api/v1/gitsource.go
  api/v1/kogitobuild_types.go
  api/v1/kogitoinfra_types.go
  api/v1/kogitoruntime_types.go
  api/v1/kogitoservices.go
  api/v1/probe.go
  api/v1/volumereference.go
  api/v1/zz_generated.deepcopy.go
  api/v1/zz_generated.openapi.go
  bundle/manifests/rhpam-kogito-operator.clusterserviceversion.yaml
  bundle/manifests/rhpam.kiegroup.org_kogitobuilds.yaml
  bundle/manifests/rhpam.kiegroup.org_kogitoinfras.yaml
  bundle/manifests/rhpam.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/rhpam.kiegroup.org_kogitobuilds.yaml
  config/crd/bases/rhpam.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/rhpam.kiegroup.org_kogitoruntimes.yaml
  config/manifests/bases/rhpam-kogito-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitoruntime_finalizer.go
  controllers/runtime_deployer.go
  go.mod
  go.sum
  rhpam-kogito-operator.yaml
  test/pkg/framework/kogitoinfra.go
Labels: operator :cloud:, bdd-tests 🧪, ready :rocket:, release-7.12.0

#74 [1.11.x] Update kogito-operator reference
  go.mod
  go.sum
  hack/env.sh
  hack/tests-prepare.sh
Labels: ready :rocket:

#75 Update kogito-operator reference
  go.mod
  go.sum
  hack/env.sh
  hack/tests-prepare.sh
  test/.default_config
  test/pkg/framework/kogitobuild.go
Labels: needs review :mag:, bdd-tests 🧪

#77 [1.11.x] [KOGITO-5865] BDD: Cleanup installed operators
  .ci/jenkins/Jenkinsfile
  .ci/jenkins/Jenkinsfile.upstream-operator-sync
  go.mod
  go.sum
  hack/env.sh
  hack/tests-clean.sh
  hack/tests-prepare.sh
  test/pkg/framework/kogitobuild.go
  test/pkg/steps/deploy_files.go
  test/pkg/steps/kogitobuild.go
Labels: bdd-tests 🧪, ready :rocket:

#76 [KOGITO-5865][KOGITO-5888] BDD: Cleanup installed operators and remove namespace option
  .ci/jenkins/Jenkinsfile
  .ci/jenkins/Jenkinsfile.upstream-operator-sync
  go.mod
  go.sum
  hack/env.sh
  hack/tests-clean.sh
  hack/tests-prepare.sh
  hack/update-dependencies.sh
  test/.default_config
  test/pkg/framework/kogitobuild.go
Labels: needs review :mag:, bdd-tests 🧪

#68 KOGITO-5730 Update DSL folder structure
  .ci/jenkins/dsl/jobs.groovy
Labels: needs review :mag:

#80 [1.11.x] KOGITO-5730 Update DSL folder structure (#68)
  .ci/jenkins/dsl/jobs.groovy
Labels: needs review :mag:

#82 [1.11.x] BXMSPROD-1478 Setup Jenkins pipelines with new golang
  .ci/jenkins/Jenkinsfile
  .ci/jenkins/Jenkinsfile.upstream-operator-sync
  Makefile
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
  hack/ci/install-operator-sdk.sh
  hack/ci/uninstall-operator-sdk.sh
Labels: needs review :mag:
