Repository kiegroup/rhpam-kogito-operator, pull requests merged in 2022-01, with the labels that each got.

#93 Updated Reviewers file to include davidesalerno
  .github/bot-files/reviewers.yml
Labels: needs review :mag:

#94 Add additional architectures for multi-arch operator + bundle
  image-bundle.yaml
  image-prod.yaml
  image.yaml
Labels: needs review :mag:

#95 Add additional architectures for multi-arch operator + bundle [1.11.x]
  image-bundle.yaml
  image-prod.yaml
  image.yaml
Labels: ready :rocket:

#96 [1.11.x] Setup content_sets for RHPAM images
  content-sets.yaml
  image-bundle.yaml
  image-prod.yaml
  image.yaml
Labels: ready :rocket:

#92 [1.11.x] BDD tests: Handle different URL for archetype mirror URL
  go.mod
  go.sum
  hack/tests-prepare.sh
  test/pkg/steps/deploy_files.go
Labels: bdd-tests 🧪, ready :rocket:

#98 [1.5.x] Setup content_sets for RHPAM images (#96)
  content_sets.yaml
  image-bundle.yaml
  image-prod.yaml
  image.yaml
Labels: needs review :mag:, ready :rocket:
